.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: rgb(255, 147, 147);
    border: .1vmin solid var(--tan-3);
    border-radius: 6vmin;
    font-size: 4vmin;
  }
  
  .MenuListItem .emoji {
    height: 5vw;
    width: 5vw;
    font-size: 3vw;
    background-color: rgb(255, 147, 147);
    border: 0vmin solid;
    border-radius: 1vmin;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.2vw;
    text-align: center;
    color: hsl(70, 100%, 56%);
  }
  
  .MenuListItem .name {
    font-size: 1.5vw;
    text-align: center;
    color: var(--text-light);
  }
  
  